body {
    background-image: linear-gradient(40deg, #e6f6ff, rgb(232, 250, 255));
}
fieldset {
    border-radius: 10px;
    padding: 2rem;
}
.form-container {
    margin-top: 10rem;
}
.separator {
    width: 65%;
}
.form-container div {
    margin: 1rem;
}
.form-container label {
    margin: 0 1rem;
}
.form-container input {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border-style: dashed;
    border-color: silver; 
}
.form-container .form-submit {
    border-style: outset;
    padding: 1rem 4rem;
    background-color: rgba(183, 244, 255);
}
.form-container a {
    color: cornflowerblue;
}
