* {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.escudo-header {
    width: 60px;
    height: 45px;
}
.white-font {
    color: white;
}
.text-center {
    text-align: center;
}
.custom-h1 {
    font-size: 10.5vh;
    text-shadow: 1px 1px black;
    margin: 2rem 1rem;
}
body {
    height: 98vh;
    display: flex;
    flex-direction: column;   
}
main {
    
    flex-direction: column;
    display: flex;
    flex: 1;
}
#header {
    display: flex;
    align-items: center;
    background: linear-gradient(40deg, #63b9ff, #add7fa);
    color: white;
}
#article {
    text-align: center;
   
    background: linear-gradient(40deg, #fff, #fff);
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex: 3;
    
}
.card {
    text-align: center;
    padding-top: 1rem;
    box-shadow: 0px 4px 4px -3px black;
    flex-direction: row;
    flex: 1;
    border-radius: 10px;
    height: 10rem;
    margin: 1rem;
    background-color: whitesmoke;
}
.card-text h2,.card-text h3, .card-text p {
    color: #000;
}

.card-text {
  
    text-align: left;
    display: table;
    padding-left: 1rem;
    padding-right: 1rem;
}
#navbar {
    text-align: center;
    color: black;
    background: linear-gradient(40deg, #5ed8ff, #d2f1fc);

}
.hero-1 {
    background-image: url(../img/003.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}
.hero-2 {
    background-image: url(../img/002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}

.p-btn {
    padding: 1rem 3rem;
    background-color: #58db63;
    font-size: 3vh;
    font-weight: 700;

}
.login-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #58db63;
    font-size: medium;
    font-weight: 700;
    color: white;

}
.custom-text {
    text-align: center;
    margin: -2rem 0 2rem;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 2px 2px black;
}
.welcome-text {
    background-color: rgba(220, 241, 241, 0.425);
}
.log-row {
    display: flex;
    flex-direction: row;

}
.col-log {
    flex: 2;
    margin: 0 0 5rem;
}
#aside {
    color: white;
    text-align: center;
    background-color: #AFDCF0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 1 5rem;
}
#footer {
    color: white;
    text-align: center;
    background: linear-gradient(40deg, #4ab1e8, #99cce7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.left {
    text-align: left;
    margin: 0 0 1rem 2rem;
}
.hr {
    width: 30px;
    border: 5px white;
}
.header-brand {
    text-align: left;
    margin-left: 5px;   
}
/* .header-button {
    float: right;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin: -8px 8px;
    box-shadow: 0px 4px 4px -3px black;  
} */
.copyright a {
    text-align: center;
    color: white;
    
}

.modal-bg-login, .modal-bg-reg {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0; 
  
}
.bg-active {
    visibility: visible;
    opacity: 1;
}
.modal-close {
    position: fixed;
    top: 149px;
    right: 236px;
    font-weight: bold;
    cursor: pointer;
}
.modal-closeb {
    position: fixed;
    top: 36px;
    right: 130px;
    font-weight: bold;
    cursor: pointer;
}

.modal-a {
    color: black;
    background-color: #d3f4ff;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-b {
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 600px )  {
  
    body {
        flex-direction: column;
    }
    .main-without-nav {
        display: flex;
        flex: 1;
    }
    #navbar {
       
        flex: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex: 1 5rem;
    }
    #article {
        background-color:#3BEBFF ;
        background: linear-gradient(40deg,#3BEBFF, rgb(148, 241, 252));
        flex-direction: column;
        flex: 2;
        display: flex;
       
    }
    #aside {
        background: linear-gradient(40deg, #5ed8ff, #d3f4ff);
        flex-direction: column;
        display: flex;
        flex: 1;
    }
    #header {
   
        background: linear-gradient(40deg, #63b9ff, #add7fa);
        padding: 1rem;
    }
    #footer {
        background: linear-gradient(40deg, #4ab1e8, #99cce7);
    }
}

@media (min-width: 890px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: row;
        flex: 1;
    }
    .main-without-nav{
        flex: 3;
    }
    #navbar {
        background: linear-gradient(40deg, #5ed8ff, #d2f1fc);
        flex: 1;
        
    }
    #article {
        background: linear-gradient(40deg, #fff, #fff);
    
    }
    #aside {
        background: linear-gradient(40deg, #5ed8ff, #d3f4ff);
        
    }
    #header {
        background: linear-gradient(40deg, #63b9ff, #add7fa);
        
    }
    #footer {
        background: linear-gradient(40deg, #4ab1e8, #99cce7);
    }
    #header-menu {
        display: none;
    }
}

