/* STYLES FOR MOBILE VIEW -- STYLES FOR MOBILE VIEW  -- STYLES FOR MOBILE VIEW  */
                                                                /* GENERAL */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0px -10px 0px 0px;
    padding: 0px;
    flex-direction: column;
}
.white-font {
    color: white;
}
.text-center {
    text-align: center;
}
                                                                /* HEADER */
#header {
    display: flex;
    align-items: center;
    background: linear-gradient(40deg, #63b9ff, #add7fa);
    color: white;
}
.header-concursar {
    display: inline-flex;
    margin: 0.5rem 1.5rem 0.5rem 0;
    align-items: center;
}
.escudo-header {
    width: 60px;
    height: 45px;
}
.header-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
.user-header {

    border-radius: 25px;
    width: 45px;
    height: 45px;
}
.header-escudo {
    align-items: center;
    display: flex;
    position: inherit;

}
                                                                    /* MAIN */


#article {
    text-align: center;
    background: linear-gradient(40deg, #fff, #fff);
    /* padding-top: 1rem; */
    /* padding-bottom: 3rem; */
    /* flex: 3; */
}
.custom-h1 {
    font-size: 8vh;
    text-shadow: 1px 1px black;
    margin: 0rem 1rem;
}
.custom-text {
    text-align: center;
    margin: 2rem 2rem 6rem 2rem;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 2px 2px black;
}
.main-begin-btn {
    margin-top:-3rem ;
}
.hero-3 {
    /* Aula con alumnos */
    background-image: url("../img/001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 98%;
    padding: 3rem 1rem 7rem 0rem;
}

.profile-photo {
    align-content: center;
    display: flex;
    flex-direction: column;
}

.user-profile {
    align-self: center;
    border-radius: 15px;
    width: 250px;
    height: 250px;
}
.flex-form {
    display: flex;
    justify-content: space-between;
}
.file-loader {
    display: flex;
    margin: 2rem 2rem 1rem 0;
}
.botonera {
    align-content: space-between;
    display: flex;
}
.user-part {
    align-items: center;
    display: flex;
    position: absolute;
    right: 3rem;
}

.home-opt {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.prof-opt {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}
.prof-btn {
    width: 251px;
    position: relative;
    padding: 1rem 0 1rem 1rem;
    background-color: #1386a8;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
    align-self: center;
    bottom: 16px;
}


.left-h1 {
    text-align: left;
    font-size: 8.5vh;
    text-shadow: 1px 1px black;
    margin: 2rem 1rem;
}




.card {
    text-align: center;
    padding-top: 1rem;
    box-shadow: 0 4px 4px -3px black;
    flex-direction: row;
    flex: 1;
    border-radius: 10px;
    height: 10rem;
    margin: 1rem;
    background-color: whitesmoke;
}
.card-text h2,
.card-text h3,
.card-text p {
    color: #000;
}

.card-text {

    text-align: left;
    display: table;
    padding-left: 1rem;
    padding-right: 1rem;
}
#navbar {
    text-align: center;
    color: black;
    background: linear-gradient(40deg, #5ed8ff, #d2f1fc);

}
.hero-1 {
    /* Nene mirando para arriba */
    background-image: url("../img/009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 70%;
    height: 100%;
    width: 100%;
}
.hero-2 {
    /* Jovenes estudiando */
    background-image: url("../img/002.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}

.hero-4 {
    /* Adolescentes en examen */
    background-image: url("../img/007.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}
.hero-5 {
    /* Niños con banderas */
    background-image: url("../img/008.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}
.hero-6 {
    /* aula a traves de la ventana */
    background-image: url("../img/008.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 27%;
    height: 100%;
    width: 100%;
}

.p-btn {
    padding: 1rem 3rem;
    background-color: #58db63;
    font-size: 3vh;
    font-weight: 700;
}
.cancel-btn {

    background-color: #df4f4a;
    display: flex;
    padding: 1rem 3rem;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;

}
.cancel-profile-btn {
    width: 200px;
    background-color: #df4f4a;
    display: flex;
    padding: 1rem 3rem;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;

}
.flex-parent {
    display: flex;
    flex-direction: row;
}
.col-1 {
    flex: 1;
    padding: 1rem 2rem;
}
.col-2 {
    flex: 1;
    padding: 10rem 0 1rem;
}
.more-btn {
    padding: 0.5rem 2.5rem;
    background-color: #577dcf;
    font-size: 3vh;
    font-weight: 700;
    color: white;
}
.col-b-profile {
    flex: 1;
    padding: 1rem 0 1rem;
}
.col-a-profile {
    flex: 1;
    padding: 2.5rem;
}
.search-btn {
    border-radius: 13px;
    padding: 1rem 5rem;
    background-color: #577dcf;
    font-size: 3vh;
    font-weight: 700;
}
.opt-btn {
    display: flex;
    padding: 1rem 3rem;
    background-color: #1386a8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
}
.opt-profile-btn {
    width: 297px;
    display: flex;
    padding: 1rem 3rem;
    background-color: #1386a8;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
}
.close-btn {
    color: white;
    display: flex;
    padding: 1rem 3rem;
    background-color: #d4554c;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
}

.login-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    background-color: #58db63;
    font-size: medium;
    font-weight: 700;
    color: white;

}

.welcome-text {
    background-color: rgba(60, 132, 214, 0.89);
}
.log-row {
    display: flex;
    flex-direction: column;

}
.col-log {
    flex: 2;
    margin: 0 0 5rem;
}
#aside {
    color: white;
    text-align: center;
    background-color: #AFDCF0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex: 1 5rem;
}

.left {
    text-align: left;
    margin: 0 0 1rem 2rem;
}
.muestra {
    justify-content: center;
    font-size: 20px;
}
.muestra-heading {
    font-size: x-large;

}
.view-password {
    background-image: url(../img/eye.png);
    width: 28px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: bottom;
}

.hr {
    width: 30px;
    border: 5px white;
}
.header-brand {
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
}

.copyright,
a {
    text-align: center;
    color: white;

}
/* MODAL */

.modal-bg-ap-search,
.modal-bg-login,
.modal-bg-postula,
.modal-bg-reg,
.profile-edit-modal,
.profile-pic-modal,
.profile-view-modal,
.sad-upap-modal,
.sad-upesc-modal,
.sec-upload-modal {
    /* DIV ESTRUCTURA  */
    position: absolute;
    width: 105%;
    height: 100vh;
    top: 0;
    padding: 1rem 1rem 21rem 0rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.bg-active {
    /* OCULTA, UNIVERSAL  */
    visibility: visible;
    opacity: 1;
}
/* Boton cierre  */
.modal-close-login {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-close-reg {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-close-ap-search {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.modal-close-postula {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.profile-pic-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.profile-view-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.profile-edit-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.sec-upload-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.sad-upap-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.sad-upesc-close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-weight: bold;
    cursor: pointer;
}
.smaller {
    font-size: xx-large;
}
/* Estilo Modal */
.modal-a {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 68%;
    height: 61%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-b {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.modal-form-ap-search {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.modal-form-postula {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.profile-pic-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.profile-view-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.profile-edit-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sec-upload-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sad-upap-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sad-upesc-modal-style {
    position: relative;
    color: black;
    background-color: #d3f4ff;
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/* Tabla  */
table.customTable {
    margin-top: 1rem;
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
}

table.customTable td,
table.customTable th {
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    padding: 5px;
}

table.customTable thead {
    background-color: #7EA8F8;
}


                                                                    /* FOOTER */
#footer {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    background: linear-gradient(40deg, #4ab1e8, #99cce7);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer-more-info {
    flex: 1;
}
.footer-links {
    font-size: x-small;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}
.footer-a-tags {
    flex: 1;
}


/* STYLES FOR TABLET VIEW -- STYLES FOR TABLET VIEW  -- STYLES FOR TABLET VIEW  */
                                                                                   

@media (min-width: 600px) {
     /* GENERAL */
                                                                                   
                                                                                   
                                                                                 

    body {
        flex-direction: column;
        display: flex;
        height: 100vh;
        margin: 0px -24px 0px 0px;
    }
                                                                                    /* HEADER */
    .main-without-nav {
        display: flex;
        flex: 1;
    }
    .header-concursar {
        display: inline-flex;
        margin: 0.5rem 1.5rem 0.5rem 0;
        align-items: center;
    }
    #navbar {

        flex: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
        flex: 1 5rem;
    }
                                                                                /* MAIN */
    #article {
        background-color: #3BEBFF;
        background: linear-gradient(40deg,#3BEBFF, rgb(148, 241, 252));
        flex-direction: column;
        flex: 2;
        display: flex;

    }
    .custom-h1 {
        font-size: 10.5vh;
        text-shadow: 1px 1px black;
        margin: 2rem 1rem;
    }
    .custom-text {
        text-align: center;
        margin: -2rem 0 2rem;
        font-size: 20px;
        font-weight: 600;
        text-shadow: 2px 2px black;
    }
    .main-begin-btn {
        margin-top: 0rem ;
    }
    
    .hero-3 {
        /* Aula con alumnos */
        background-image: url("../img/001.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: 27%;
        height: 100%;
        width: 98%;
        padding: 3rem 1rem 7rem 0rem;
    }
    .log-row { 
        display: flex;
        flex-direction: row;
    }

.modal-bg-ap-search,
.modal-bg-login,
.modal-bg-postula,
.modal-bg-reg,
.profile-edit-modal,
.profile-pic-modal,
.profile-view-modal,
.sad-upap-modal,
.sad-upesc-modal,
.sec-upload-modal {
    /* DIV ESTRUCTURA  */
    position: absolute;
    width: 105%;
    height: 100vh;
    top: 0;
    padding: 1rem 1rem 7rem 0rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
.bg-active {
    /* OCULTA, UNIVERSAL  */
    visibility: visible;
    opacity: 1;
}

    #aside {
        background: linear-gradient(40deg, #5ed8ff, #d3f4ff);
        flex-direction: column;
        display: flex;
        flex: 1;
    }
    #header {

        background: linear-gradient(40deg, #63b9ff, #add7fa);
        padding: 1rem;
    }
                                                                    /* FOOTER */
    #footer {
        background: linear-gradient(40deg, #4ab1e8, #99cce7);
        padding-top: 3rem;
        padding-bottom: 6rem;
    }
    .footer-links {
        font-size: initial;
        flex-direction: initial;
    }
    .footer-a-tags {
        padding: 0rem 5rem;
        margin: 1rem -2rem;
    }
}


/* STYLES FOR DESKTOP VIEW -- STYLES FOR DESKTOP VIEW  -- STYLES FOR DESKTOP VIEW  */
@media (min-width: 890px) {
                                                                                     /* GENERAL */
    body {
        height: 100vh;
        flex-direction: column;
    }
    main {
        flex-direction: row;
        flex: 1;
    }
                                                                                        /* HEADER */
    #header {
        background: linear-gradient(40deg, #63b9ff, #add7fa);

    }
    #header-menu {
        display: none;
    }
                                                                                         /* MAIN */
    .main-without-nav {
        flex: 3;
    }
    #navbar {
        background: linear-gradient(40deg, #5ed8ff, #d2f1fc);
        flex: 1;

    }
    #article {
        background: linear-gradient(40deg, #fff, #fff);

    }
    #aside {
        background: linear-gradient(40deg, #5ed8ff, #d3f4ff);

    }
    .modal-bg-ap-search,
    .modal-bg-login,
    .modal-bg-postula,
    .modal-bg-reg,
    .profile-edit-modal,
    .profile-pic-modal,
    .profile-view-modal,
    .sad-upap-modal,
    .sad-upesc-modal,
    .sec-upload-modal {
        /* DIV ESTRUCTURA  */
        position: absolute;
        width: 105%;
        height: 100vh;
        top: 0;
        padding: 1rem 1rem 1rem 0rem;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
    }
    .bg-active {
        /* OCULTA, UNIVERSAL  */
        visibility: visible;
        opacity: 1;
    }
 
                                                                             /* FOOTER */
    #footer {
        background: linear-gradient(40deg, #4ab1e8, #99cce7);
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
    .footer-links {
        display: block;
    }
    .footer-a-tags {
        padding: 0rem 0rem;
        margin: 0rem -2rem;
        display: contents;
    }
 
}
