
body {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    flex-direction: column;
}
.main-container {
    background-color: rgb(237, 237, 237);
    display: flex;
}
header {
    color: whitesmoke;
    background: linear-gradient(40deg, rgb(56, 96, 112),rgb(144, 171, 189));
}
.header-img {
    background-image: url(/img/hero-main.jpg);
    padding: 1rem;
    background-size: cover;
}

.edi-button {
    padding: 2rem 6rem;
    background: none;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 1.6rem;
}

nav {
    background-color: rgb(24, 24, 24);
    color: cornsilk;
    padding: 1rem;
    padding: 2rem;
}
li {
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}
a {
    color: cornsilk;
    text-decoration: none;
}
.edi-button {
    padding: 2rem 6rem;
    background: none;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 1.6rem;
}
.article-button {
    font-size: 1.4rem;
    padding: 2rem 6rem;
    background: none;
    border: none;
    border-radius: 3px;
}
.ejercicios a, .proyectos a, .ejerciciosdos a {
    color: black;
}
article{
    padding: 2rem;
    flex: 5;
    flex-direction: row;
  
}

.row {
   display: flex;
    justify-content: center;
    flex-direction: column;
}
.col1, .col2, .col3 {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 5px;
    border: outset;
}
.proyectos p, .ejercicios p {
    margin-top: 2rem;
}
.proyectos, .ejercicios, .ejerciciosdos {
    display: none;
}
.btn-ejercicios , .btn-proyectos {
    margin: 0;
    padding: 0.5rem;
}
.btn-ejercicios.active, .btn-proyectos.active {
    background-color: rgb(143, 143, 143);
}

li:hover {
    background-color: rgb(112, 112, 112);
}

footer {
    width: 100%;
    background: linear-gradient(40deg, rgb(0, 0, 0),rgb(95, 95, 95));
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: blanchedalmond;
}

@media (max-width: 800px )  {

    .main-container {
        flex-direction: column;
    }
}
@media (min-width: 800px )  {

    body {
        height: 100vh;
    }
}